.section_2 {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);

    /* Font */
    font-size: x-large;
    font-weight: 500;
    margin: 0 15% 0 15%;

    /* Transforms */
    transform-style: preserve-3d;
}

.article_1 {
    /* Base styling */
    width: 49.5%;
    margin: 0 2em 0 2em;

    /* transform: translateZ(-3px) scale(3); */
}

.article_2 {
    /* Base styling */
    width: 24.25%;
    margin: 0 2em 0 2em;
}

.article_1 p {
    /* Paragraph */
    margin: 1em;
    word-wrap: break-word;
}

.article_2 p {
    /* Paragraph */
    margin: 1em;
    word-wrap: break-word;
}

[class*="article"] {
    display: block;
    float: left;
    margin-top: 0 !important;
    background-color: var(--accent_p);
    border-radius: 10px;
    /* text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15); */

}

@media only screen and (max-width: 768px) {
    [class*="article"] {
        width: 100%;
    }
}